<head>
 <link rel="stylesheet" href="css/style2.css">
</head>

<body> 
<h2><a href="/">Mashable Story Finder</a></h2>

<nav>
  <ul>
    <li>
        <a href="/results_new">What's New</a>
    </li>
    <li>
        <a href="/results_rising">What's Rising</a>
    </li>
    <li>
        <a href="/results_hot">What's Hot</a>
    </li>
  </ul>
  <img class="img" src="images/mashable.png">
</body>